<div class="p-4">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name" class="border p-2 mb-4 w-full"/>
    <select [(ngModel)]="selectedType" class="border p-2 mb-4 w-full">
      <option value="">All Types</option>
      <option *ngFor="let type of workoutTypes" [value]="type">{{ type }}</option>
    </select>
  
    <div *ngFor="let workout of paginatedWorkouts" class="border p-4 mb-4">
      <div>User: {{ workout.userName }}</div>
      <div>Type: {{ workout.workoutType }}</div>
      <div>Minutes: {{ workout.minutes }}</div>
    </div>
  
    <div class="flex justify-between">
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="bg-blue-500 text-white p-2 rounded">Previous</button>
      <button (click)="nextPage()" [disabled]="currentPage * pageSize >= workouts.length" class="bg-blue-500 text-white p-2 rounded">Next</button>
    </div>
  </div>

  